body {
    background: rgb(137, 9, 9);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    text-align: center;
    display: grid;
    align-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 96px;
    text-transform: uppercase;
    text-align: center;
}

h2{
    text-align: center;

}

p {
    color: white;
    margin: 0 auto;
    max-width: 30em;
}

ul {
    margin: 0 auto;
}

a {
    color: white;
}