body {
    background: rgb(137, 9, 9);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    text-align: center;
    display: grid;
    align-content: center;
    min-height: 100vh;
}

ul {
    
    text-align: left;
    margin: 0 auto;

}