@charset "UTF-8";

/* #TYPOGRAPHY  */
/* Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/
body {
  font-family: "Alata", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 87.5%;
  /* 14px; */
  line-height: 1.5;
  /* 14px x 1.5em = 21px */
}

/* #HEADINGS
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
*/
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Alata",Helvetica, Arial, sans-serif;
  margin: 0.5em 0;
  text-align: left;
}

h1 {
  font-size: 4em;
  /* 48px / 16px = 3em */
  line-height: 1;
  font-family: "Federo";
}


h2 {
  font-size: 2.25em;
  /* 36px / 16px = 2.25em */
  line-height: 1.1;
}


h3 {
  font-size: 1.5em;
  /* 24px / 16px = 1.5em */
  line-height: 1.2;
}

h4 {
  font-size: 1.3125em;
  /* 21px / 16px = 1.3125em */
  line-height: 1.3;
}

h5 {
  font-size: 1.125em;
  /* 18px / 16px = 1.125em */
  line-height: 1.4;
  text-align: center;
  margin-bottom: 5em;
}

h6 {
  font-size: 1em;
  /* 16px / 16px = 1em */
  line-height: 1.5;
  text-align: center;
  margin-top: 5em;
}

/* LIST */
ul {
  margin: 0;
  padding: 0 0 1em 1em;
}

li {
  color:#fff;
  margin: 0;
  padding: 0;
}

.contact li {
  color:#ECE0C6;
  /* padding-top: 10px;
  padding-bottom: 50px;
  padding-right: 5em; */
}

/* #PARAGRAPHS */
p {
  margin: 3em 0;
  max-width: 38em;
  text-align: left;
}

.centered p {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.info{
  margin: auto;
  width: 80%;
  padding: inherit;
}

.info h6 {
  margin: auto;
  width: 50%;
  padding: 6em 0 0 0;
}

.about {
  margin: auto;
  width: fit-content;
  /* border: 3px solid green; */
  padding: inherit;
}


/* #LINKS */
a {
  color:#fff;
  text-decoration: none;
}

a:hover {
  color:#A3664B;
  text-decoration: underline;
}

/* #BLOCK QUOTES  */
blockquote {
  font-size: 1.142em;
  margin: 1.5em 0;
  padding: 1.5em;
  border-top: 0px solid #ccc;
  border-bottom: 0px solid #ccc;
}

blockquote cite {
  display: block;
  opacity: 0.8;
  font-size: 0.875em;
}

blockquote cite:before {
  content: "—";
  margin-right: 0.25em;
}

/* #HELPERS */
.text-centered {
  text-align: center;
}

.full-width {
  max-width: none;
  width: 100%;
}

.horiz-center {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media (min-width: 768px) {
  .hidden-desktop {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

@media (max-width: 767px) {
    .hidden-mobile {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }
  
.subheader {
  color: #999;
  margin-top: 1em;
  font-style: normal;
  font-weight: normal;
  clear: both;
}

/* HORIZONTAL RULES */
hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 2em 0;
}

/* #MEDIA  */
/* #IMAGES */
img {
  max-width: 100%;
  height: auto;
  padding: inherit;
}

div.cup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.coffee img {
  margin: 0;
}


/* #COMPONENTS  */
/* #BUTTONS */
button {
  font-size: inherit;
}

button,
a.button, 
form input[type=button],
form input[type=submit],
form input[type=reset] {
  display: inline-block;
  background-color: #6F6848;
  border: 1px solid #6F6848;
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 0.32em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  cursor: pointer;
  line-height: 1;
}

button.alt,
a.button.alt {
  background-color: transparent;
  border: 1px solid #A3664B;
  color: #503022;
}

button:hover,
a.button:hover, 
form input[type=button]:hover,
form input[type=submit]:hover,
form input[type=reset]:hover {
  background-color: #454029;
  color: #fff;
  border-color: #454029;
  text-decoration: none;
}

/* LAYOUT */
/*
#MEDIA QUERIES (Mobile First)
	#DEFAULT+ (Mobile First - Default Settings in the CSS Above)
	#SMALL- (Mobile Only Overrides) - max-width: 767px
	#MEDIUM+ (Tablet) - min-width: 768px
	#LARGE+ (Desktop) - min-width: 1050px
	#EXTRALARGE+ (Desktop+) - min-width: 1250px  */
/* SMALL+ (Mobile First Defaults) */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

 .container,
 .container-location,
 .container-contactbox {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}  

/* SMALL- MEDIA QUERY (e.g. for mobile overrides) */
@media (max-width: 767px) {
  /* Inherits Small/Mobile Body Type from Above */
  /* Inherits Small/Mobile Fluid Width from Above */
}
/* #MEDIUM+ MEDIA QUERY */
@media (min-width: 768px) {
  /* Inherits Small/Mobile Body Type from Above */
  /* Inherits Small/Mobile Fluid Width from Above */

  .container,
  .container-location,
  .container-contactbox {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 4%;
 } 

 .hero .container {
  max-width: 600px;
  padding: 5em 0 0 0;
 }

}


/* #LARGE+ MEDIA QUERY */
@media (min-width: 1050px) {
  /* LARGE BODY TYPE */
  body {
    font-size: 100%;
    /* 16px; */
  }


}
/* #EXTRA-LARGE+ MEDIA QUERY */
@media (min-width: 1250px) {
  /* EXTRA-LARGE BODY TYPE */
  body {
    font-size: 112.5%;
    /* 18px; */
  }

  /* FIXED WIDTH */
   .container {
    max-width: 1200px;
  } 

  .container-location {
    padding-top: 4em;
  }
  
  .container-contactbox {
    padding-top: 5.5em;
  }
  
} 

/* Grid */
/* section,
.container {
  overflow-x: hidden;
} */

/* SMALL SCREEN GRIDS */
@media (min-width: 768px) {
  .row {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .row.swapped {
    flex-direction: row-reverse;
  }
  .row.centered {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .row > .column {
    margin: 0 2% 2% 2%;
    flex-grow: 1;
  }
  .row > .column.one-half {
    max-width: 46%;
  }
  .row > .column.one-third {
    max-width: 29.3333%;
  }
  .row > .column.two-thirds {
    max-width: 62.6666%;
  }
  .row > .column.one-fourth {
    max-width: 21%;
  }
  .row > .column.three-fourths {
    max-width: 71%;
  }
  .row > .column.push-one-third {
    margin-left: 35.3333%;
  }
  .row > .column.push-one-fourth {
    margin-left: 27%;
  }
  .row > .column.centered {
    margin-left: auto;
    margin-right: auto;
  }
  .column-contact {
    float: left;
    width: 50%;
    padding: 10px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
}

/* LARGE SCREEN GRIDS */
@media (min-width: 1250px) {
  .row {
    margin-left: 2%;
    margin-right: -2%;
    display: flex;
    flex-wrap: wrap;
  }
  .row.swapped {
    flex-direction: row-reverse;
  }
  .row.centered {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .row > .column {
    margin: 0 2% 2% 2%;
    flex-grow: 1;
  }
  .row > .column.one-half {
    max-width: 46%;
  }
  .row > .column.one-third {
    max-width: 29.3333%;
    margin-left: 43px;
  }
  .row > .column.two-thirds {
    max-width: 62.6666%;
  }
  .row > .column.one-fourth {
    max-width: 21%;
  }
  .row > .column.three-fourths {
    max-width: 71%;
  }
  .row > .column.push-one-third {
    margin-left: 35.3333%;
  }
  .row > .column.push-one-fourth {
    margin-left: 27%;
  }
  .row > .column.centered {
    margin-left: 50%;
    margin-right: inherit;
  }
  .column-contact {
    float: left;
    width: 50%;
    padding: 10px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* FOR DEMO PURPOSES ONLY */
.demo .column {
  padding: 1em;
  background: #ddd;
  text-align: center;
}
.demo .column p {
  margin: 0;
  padding: 0 0.5em;
  max-width: none;
}

/* Header & Footer */
body {
  background: #fff;
}

/* Header & Footer */
.site-header a,
.site-footer a {
  color:#ffffff;
}
.site-header a:hover,
.site-footer a:hover {
  color:#A3664B;
  text-decoration: none;
}

/* Header Only */
.site-header {
  background: #fff;
  border-bottom: 0px solid #ccc;
  padding: 0.5em 4% 0.75em 4%;
}
.site-header .container {
  padding-left: 0;
  padding-right: 0;
}

/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
@media (min-width: 768px) {
  .site-header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75em;
  }
}


/* Site ID */
.site-id {
  text-align: center;
}
.site-id h1 {
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: #999;
  padding: 0.5em 0 0.4em 0;
}
.site-id h1 a {
  font-weight: bold;
  display: inline-block;
}

/* Footer Only */
.site-footer {
  background-color:#6F6848;
  border-top: 0px solid #ccc;
}
.site-footer .container {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
@media (min-width: 768px) {
  .site-footer .container {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
  }
}

/* Main Site Section (Main Content Area) */
.site-main {
  background: #fff;
}

/* Main Sections */
section {
  padding: 1.5em 0;
}

/* Hero Sections */

.site-main .hero {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../img/coffee-lineup.jpg);
  border-top: none;
  /* padding: 24vh;
  margin-bottom: 1.5em; */
}
.hero h1,
.hero h2 {
  font-size: 4em;
  line-height: 1.1em;
  max-width: 10em;
}
.hero p {
  max-width: 22em;
}

.hero.full-width {
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes fadeandscaleIn {
  0% {
    transform: scale(.8);
    opacity: 0; 
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fadeandscaleIn * {
  animation: fadeandscaleIn 1s ease-out forwards;
  opacity: 0;
}

.fadeandscaleIn *:nth-child(1) { animation-delay: 0s;}
.fadeandscaleIn *:nth-child(2) { animation-delay: 0.5s;}
.fadeandscaleIn *:nth-child(3) { animation-delay: 1s;}

/* #SITE NAVIGATION  */
/* Default Site-Navigation Menu (both header & footer) */
.site-nav {
  font-family: Helvetica, Arial, sans-serif;
}
.site-nav .menu-button {
  display: none;
}
.site-nav ul {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}
.site-nav ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}
.site-nav ul li li {
  white-space: nowrap;
}
.site-nav ul li a {
  display: block;
  padding: 0.5em 0.75em 0.4em 0.75em;
}
.site-nav ul li ul {
  border-top: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .site-nav ul {
    border-top: none;
    margin: 0;
    padding: 0;
  }
  .site-nav ul li {
    display: inline-block;
    /* DROP DOWN MENU */
    /* stack nested lists */
    /* hide nested lists by default */
    /* show nested lists on hover */
    /* SELECTED STATE */
  }
  .site-nav ul li a {
    margin: 0 0.5em;
    padding: 0.85em 0.5em 0.75em 0.5em;
  }
  .site-nav ul li li {
    display: block;
  }
  .site-nav ul li ul {
    text-align: left;
    position: absolute;
    z-index: 100;
    left: -9000px;
    background: #fff;
  }
  .site-nav ul li ul a {
    color: #999;
  }
  .site-nav ul li:hover ul {
    left: auto;
    right: 0;
  }
  .site-nav ul li.selected a, .site-nav ul li.current-menu-item a {
    font-weight: bold;
  }
  .site-nav ul li.selected li a, .site-nav ul li.current-menu-item li a {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
.site-nav ul li,
.site-nav ul li ul li {
    display: block;
  }
}
/* Default Site-Navigation (footer only) */
.site-footer .site-nav ul {
  border-top: none;
  margin: 0;
}

.site-footer .footer-navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* SOCIAL NAV */
.social-nav {
  display: grid;
  place-items: center;
}

.social-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-nav li {
  margin: 0;
  padding: 0;
}

.social-nav img {
  display: block;
}

/* TOGGLE NAV */
@media (max-width: 767px) {
  .toggle-nav .site-id {
    position: absolute;
  }
  .toggle-nav .site-nav{
    text-align: right;
  }
  .toggle-nav .site-nav .menu-button {
    display: inline-block;
    cursor: pointer;
    padding: 0.5em 0.8em;
  }
  .toggle-nav .site-nav .menu-button:hover {
    background-color:#6F6848;
  }
  .toggle-nav .site-nav ul {
    display: block;
    text-align: center;
  }
  .toggle-nav .site-nav a:hover {
    background-color: #454029;
    color: #A3664B;
  }
  .toggle-nav[data-navstate="closed"] ul {
    height: 0;
    padding: 0;
    overflow: hidden;
  }
  .toggle-nav[data-navstate="open"] {
    height: auto;
    overflow: visible;
  }
  /* NAVICON */
  .toggle-nav .site-nav .menu-button.navicon {
    border: none;
    color:rgba(255,255,255,1);
    
  }
  
  .toggle-nav .site-nav .menu-button.navicon::after {
    content: "\2630";
    display: inline-block;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
  }
  .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after{
    content: "\2715";
  }
}  

/* SUB PAGES */

article {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
}

article h1, h2.subhead, h3.date {
  text-align: center;
}

article h2.subhead {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.2;
  opacity: .8;
}

article .date {
  font-size: 0.625em;
  line-height: 4em;
  opacity: .5;
  font-weight: normal;
}

p.text {
  text-align: left;
}

h2 {
  text-align: center;
}
/* FORMS */
form {
  margin: 1.75em 0;
}

form label { 
  display: block;
}

form input,
form textarea {
  font-family: "Alata", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.15em;
  display: block;
  margin-bottom: 1.25em;
  width: 100%;
  color: #666;
  padding: 0.25em;
  border: 1px solid #ccc;
}

form textarea {
  border: 1px solid #ccc;
  min-height: 6em;
}

form input[type=button],
form input[type=submit],
form input[type=reset] {
  width: auto;
  color: #fff;
  padding: 0.75em 1em;
  -webkit-border-radius: 0.32em;
  -moz-border-radius: 0.32em;
  border-radius: 0.32em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* KEYFRAMES */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main {
  /* FADE IN ANIMATION */
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  /* MAKES SURE THE ANIMATION FINISHES*/
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

/* CUSTOM SITE CSS */
.section-title {
  font-family: "Federo";
  text-align: center;
  font-size: 3em; 
  color:#454029;
}

.section-title-contact {
  font-family: "Federo";
  text-align: center;
  font-size: 3em; 
  color:#ECE0C6;
}


.section-title::after {
  content:"";
  display: block;
  width: 100px;
  margin: .5em auto;
  /* border-bottom: 3px solid rgb(242, 78, 168) */
}

.site-header.sticky{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #6F6848;
}

.site-header.sticky + .site-main {
  padding-top: 3em;
}

/* ABOUT SECTION */
.site-main {
  background-color: #ECE0C6;
}

.about p{
  color:#454029;
}

.about-img {
  display: flex;
  justify-content: center;
}


/* MENU SECTION */
.menu {
  background-color: #B8AD7B;
}

.menu h2, .services h2 {
  color:#fefefe;
}

.column-menu {
  display: flex;
  margin-right: 50%;
  margin-left: 10%;
  padding: 8px;
}

.coffee {
  /* transform: translateY(80px);
  display: flex;
  justify-content: center; */
  height: 140px;
  background-image: url(../img/coffee-cup1.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  translate: 0 60%;
  background-position: center;
}

.lights{
  transform: translateY(-50px);
  margin: auto;
  padding: 1em 0 0 0;
}

.onscroll-fadein {
  animation: fade-in both linear;
  animation-timeline: view();
  animation-range: entry 0% contain 50%;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.onscroll-movein-fromleft {
  animation: movein-fromleft both linear;
  animation-timeline: view();
  animation-range: entry 0% contain 50%;
}
@keyframes movein-fromleft {
  0% { translate: -50px; opacity: 0; }
  100% { translate: 0; opacity: 1; }
}


/* SERVICES SECTION */
.services{
  background-color: #A3664B;
  align-content: center;
  padding-top: 6em;
}

.contact {
  background-color:#454029;
}


/* DEMO PURPOSES TURN BORDERE ON */
/* * {
  border: 1px solid red;
} */


.s-column {
  border-radius: 1em;
  padding: 20px 10px;
  font: 1.2em "Alata";
  display: flex;
}

.s-column > * {
  padding: 10px;
  border-radius: 0.5em;
  margin: 0 20px;
  flex: 1;
}